/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f8f4;
  color: #2f4f2f;
  margin: 0;
  padding: 0;
}

p, li, span {
  color: #2f4f2f;
}

/* Navbar */
.navbar-brand {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #2f4f2f;
}

.navbar-nav .nav-link.active {
  color: #1b3a1b;
}

/* Buttons */
.btn-register {
  background-color: #1b3a1b !important;
  color: #ffffff !important;
  border: none;
}

.btn-register:hover,
.btn-register:focus {
  background-color: #144115 !important;
  color: #d4f0d4 !important;
}

.btn-clear {
  background-color: #2f4f2f !important;
  color: #e0e0e0 !important;
  border: none;
}

.btn-clear:hover,
.btn-clear:focus {
  background-color: #1b3a1b !important;
  color: #d4f0d4 !important;
}

.btn-delete {
  background-color: #7a1b1b !important;
  color: #fff !important;
  border: none;
}

.btn-delete:hover,
.btn-delete:focus {
  background-color: #4c1111; !important;
  color: #f9caca;
}

/* Main container */
main {
  background-color: #e6efe9;
  padding: 20px;
  border-radius: 10px;
}

label {
  color: #2f4f2f; /* Dark Forest Green */
}

/* Table header */
table thead th {
  background-color: #2f4f2f; /* Dark Forest Green */
  color: #ffffff; /* White text for contrast */
}

/* Headings */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #1b3a1b;
}

h2 {
  color: #1b3a1b;
}

h3 {
  color: #1b3a1b;
}

/*Image*/
img {
  max-width: 100%;
  height: auto;
  border: 3px solid #9caf88;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Footer */
footer {
  font-size: 0.9rem;
  color: #888;
  margin-top: 3rem;
}

/* Mobile Optimization */
@media (max-width: 576px) {
  body {
    font-size: 16px;
  }
}
